<footer class="page-footer font-small mdb-color lighten-3 pt-4" id="footer">
<!--     <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-12 mb-4">
                <div class="view overlay z-depth-1-half">
                    <img src="https://s1.1zoom.me/big0/595/Mercedes-Benz_Bus_Motion_526871_1280x853.jpg"
                        class="img-fluid" alt="">
                    <a href="">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <div class="view overlay z-depth-1-half">
                    <img src="https://i1.wp.com/img.favcars.com/scania/irizar/wallpapers_scania_irizar_2005_1.jpg"
                        class="img-fluid" alt="">
                    <a href="">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <div class="view overlay z-depth-1-half">
                    <img src="https://s1.1zoom.me/b5050/310/Mercedes-Benz_Bus_OF_1721_Grey_Motion_535107_3840x2400.jpg"
                        class="img-fluid" alt="">
                    <a href="">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4">
                <div class="view overlay z-depth-1-half">
                    <img src="https://besthqwallpapers.com/Uploads/21-4-2018/49228/thumb2-4k-scania-touring-road-2018-buses-blue-bus.jpg"
                        class="img-fluid" alt="">
                    <a href="">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <div class="view overlay z-depth-1-half">
                    <img src="https://s3.amazonaws.com/onibusbrasil2017/12/20/p/830a6f308d4cc5c24533575c8afa1ba7.jpg"
                        class="img-fluid" alt="">
                    <a href="">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <div class="view overlay z-depth-1-half">
                    <img src="https://i.pinimg.com/564x/10/55/f4/1055f46b4b168574d413abb881865354.jpg"
                        class="img-fluid" alt="">
                    <a href="">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </div>
        </div>
    </div> -->
    <div class="footer-copyright text-center py-3"> © 2018 Copyright: <br></div>
</footer>