<app-nav></app-nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link" id="nav-autobuses-tab" data-toggle="tab" href="#nav-autobuses"
                        role="tab" aria-controls="nav-autobuses" aria-selected="true">Autobuses</a>

                    <a class="nav-item nav-link " id="nav-viaje-tab" data-toggle="tab" href="#nav-viaje" role="tab"
                        aria-controls="nav-viaje" aria-selected="true">Viajes</a>

                    <a class="nav-item nav-link active" id="nav-destinos-tab" data-toggle="tab" href="#nav-destinos"
                        role="tab" aria-controls="nav-destinos" aria-selected="false">Destinos para viajar</a>

                    <a class="nav-item nav-link" id="nav-historial-tab" data-toggle="tab" href="#nav-historial"
                        role="tab" aria-controls="nav-historial" aria-selected="false">Historial de compras</a>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade text-center" id="nav-autobuses" role="tabpanel"
                    aria-labelledby="nav-autobuses-tab"><br>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>nombre</th>
                                <th>clase</th>
                                <th>precio base</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="!buses" >
                                    <td  colspan="5" style="vertical-align: middle" >SIN AUTOBUSES REGISTRADAS</td>
                                </tr>
                            <tr *ngFor="let bus of buses">
                                <td>{{bus.id}}</td>
                                <td>{{bus.name}}</td>
                                <td>{{bus.class}}</td>
                                <td>{{bus.base_price}}</td>
                                <td>
                                    
                                    <button style="background-color:green" placement="top" ngbTooltip="Habilitar" *ngIf="bus.status === 'disabled'" 
                                        (click)="enable_bus(bus)" ><i class="material-icons">check</i></button>
                                    <button style="background-color:red" placement="top" ngbTooltip="Deshabilitar" *ngIf="bus.status === 'enabled'" 
                                        (click)="disable_bus(bus)"><i class="material-icons">stop</i></button>

                                    <button style="background-color:blue" placement="top" ngbTooltip="Editar" (click)="update_bus(bus)">
                                        <i class="material-icons">edit</i> 
                                    </button>

                                    <button style="background-color:orangered" placement="top" ngbTooltip="Eliminar" (click)="delete_bus(bus)">
                                        <i class="material-icons">restore_from_trash</i> 
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button style="background-color:green" (click)="add_bus()"> Añadir
                        Autobuses</button><br><br><br>
                </div>
                <div class="tab-pane fade text-center" id="nav-viaje" role="tabpanel" aria-labelledby="nav-viaje-tab">
                    <br>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Fecha de salida</th>
                                <th>Hora de salida</th>
                                <th>Lugar de origen</th>
                                <th>Lugar de destino</th>
                                <th>Autobus y clase</th>
                                <th># Asientos disponibles</th>
                                <th># Asientos comprados</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="!travels" >
                                <td  colspan="9" style="vertical-align: middle" >SIN VIAJES REGISTRADAS</td>
                            </tr>
                            <tr *ngFor="let travel of travels">
                                <td>{{travel.id}}</td>
                                <td>{{travel.departure_date.split('T')[0] | date:'dd/MM/yyyy'}}</td> 
                                <td>{{travel.departure_hour}}</td>
                                <td>{{travel.origin_place}}</td>
                                <td>{{travel.destination_place}}</td>
                                <td>{{travel.bus.name}} ({{travel.bus.class}})</td>
                                <td>{{travel.available_seats}}</td> 
                                <td>{{travel.purchased_seats}}</td>
                                <td>
                                    <!-- <button style="background-color:green" placement="top" ngbTooltip="Habilitar" *ngIf="travel.status === 'disabled'" 
                                        (click)="enable_travel(bus)"><i class="material-icons">check</i></button>

                                    <button style="background-color:red" placement="top" ngbTooltip="Deshabilitar" *ngIf="travel.status === 'enabled'" 
                                        (click)="disable_travel(bus)"><i class="material-icons">stop</i></button> -->

                                    <button style="background-color:orangered" placement="top" ngbTooltip="Eliminar" 
                                        *ngIf="travel.purchased_seats === 0" (click)="delete_travel(travel)">
                                        <i class="material-icons">restore_from_trash</i> 
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button style="background-color:green" (click)="add_travel()"> Añadir Viajes</button><br><br><br>
                </div>
                <div class="tab-pane fade show active text-center" id="nav-destinos" role="tabpanel"
                    aria-labelledby="nav-destinos-tab"><br>
                    <table class="table table-bordered" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>km</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="!places" >
                                <td  colspan="9" style="vertical-align: middle" > NINGUN LUGAR REGISTRADO</td>
                            </tr>
                            <tr *ngFor="let place of places">
                                <td>{{place.id}}</td>
                                <td>{{place.name}}</td>
                                <td>{{place.kilometres}}</td>
                                <td>
                                    <button style="background-color:blue" placement="top" ngbTooltip="Editar" (click)="update_place(place)">
                                            <i class="material-icons">edit</i> 
                                        </button>
                                    <button style="background-color:orangered"  placement="top" ngbTooltip="Eliminar" (click)="delete_place(place)">
                                        <i class="material-icons">restore_from_trash</i> 
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button style="background-color:green" (click)="add_place()"> Añadir
                        Destinos</button><br><br><br>
                </div>
                <div class="tab-pane fade text-center" id="nav-historial" role="tabpanel"
                    aria-labelledby="nav-historial-tab"><br>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th rowspan="2" style="vertical-align: middle">#</th>
                                <th colspan="3">Viaje</th>
                                <th colspan="2">Autobus</th>
                                <th colspan="5">Boleto</th>
                                <th colspan="1"></th>
                            </tr>

                            <tr >
                                <th style="vertical-align: middle">lugar de origen</th>
                                <th style="vertical-align: middle">lugar de destino</th>
                                <th style="vertical-align: middle">fecha y hora de salida</th>
                                <th style="vertical-align: middle">Nombre</th>
                                <th style="vertical-align: middle">Clase</th>

                                <th style="vertical-align: middle">Tipo</th>
                                <th style="vertical-align: middle">numero de asiento</th>
                                <th style="vertical-align: middle">costo</th>
                                <th style="vertical-align: middle">nombre del comprador</th>
                                <th style="vertical-align: middle">metodo de pago</th>
                                <th style="vertical-align: middle">Fecha</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr *ngIf="!sales" >
                                <td  colspan="12" style="vertical-align: middle" >SIN VENTAS REGISTRADAS</td>
                            </tr>
                            <tr *ngFor="let sale of sales">

                                <td>{{sale.travel_id}}</td>
                                <td>{{sale.origin_place_name}}</td>
                                <td>{{sale.destination_place_name}}</td>
                                
                                <td>{{sale.departure_date.split('T')[0] | date:'dd/MM/yyyy'}} a las {{sale.hour_name}} </td>
                                
                                <td>{{sale.name}}</td>
                                <td>{{sale.class}}</td>
                                <td>{{sale.type}}</td>
                                <td>{{sale.seat}}</td>
                                <td>${{sale.price_total}}</td>
                                <td>{{sale.name_of_the_buyer}}</td>
                                <td>{{sale.payment_method}}</td>
                                <td>{{sale.date.split('T')[0] | date:'dd/MM/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table><br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-footer></app-footer> -->